.how-it-works-window {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-top: 60px;
    padding-top: 50px;
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .how-it-works-window img {
    width: 180px;
  }
  .how-it-works-window h1 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1em;
  }
  .how-it-works-container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .how-it-works-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 4rem;
  }
  .how-it-works-one-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1.5rem;
  }
  .how-it-works-one-text h2 {
    margin-bottom: 1rem;
    color: #86919d;
    border: 1px solid #86919d;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 7px;
  }
  .how-it-works-one-text h3 {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 1rem;
    color: #242a30;
  }
  .how-it-works-one-text p {
    font-size: 1.125rem;
    text-align: start;
    line-height: 26px;
    color: #242a30;
  }
  
  @media (max-width: 700px) {
    .how-it-works-container {
      width: 100%;
    }
  }