/* How it Works*/
.fullpage {
  width: 90%;
  margin: 0% auto;
}

p {
  font-weight: bold;
  font-size: 25px;

}
.words {
  font-size: 20px;
  letter-spacing: 1px;
  /* word-spacing: 1px; */
  /* text-indent: 10px; */
  text-align: justify;
  text-justify: inter-word;
 
}
.wholeitems {
  background-color: rgb(232, 235, 239);
  width: 90%;
  margin: 0% auto;
  border-radius: 10px;
  padding-bottom: 75px;
}

.wholeitems > h1 {
  padding: 40px;
  font-family: cursive;
  font-size: 40px;
}

.firstitem {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  /* border: black solid 2px; 
    background-color: blueviolet;  */
}

.firstparagraph {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 600px;
  height: 300px;
  text-align: center;
  margin-right: 100px;
  margin-left: 50px;
  /* background-color: yellow; */
  /* border: black solid 2px;   */
}
.firstimage img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border-radius: 10px;
  /* border: black solid 2px; */
}
.seconditem {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  /* background-color: blueviolet;
    border: black solid 2px; */
  margin-top: 75px;
}
.secondparagraph {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  height: 300px;
  text-align: center;
  margin-left: 200px;
  margin-right: 50px;
}
.secondimage img {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border-radius: 10px;
}

.thirdparagraph {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 300px;
  text-align: center;
  margin-right: 100px;
  margin-left: 50px;
}
.thirditem {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top: 75px;
}
.thirdimage img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border-radius: 10px;
}

/* Navbar*/

nav {
  background: rgb(19, 157, 4);
  position: fixed;
  font-size: 20px;
  left: 0;
  right: 0;
  border: none;
  height: 60px;
  position: fixed;
  padding: 0px 50px;
  z-index: 800;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div ul {
  display: flex;
  background: transparent;
}

nav a {
  text-decoration: none;
}
nav li {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
}

li:hover {
  color: white;
  cursor: pointer;
}
nav button {
  display: none;
}

@media (max-width: 900px) {
  nav button {
    background-color: rgb(19, 157, 4);
    font-size: 24px;

    position: absolute;
    right: 10px;
    display: flex;
    top: 12px;
    color: white;
    cursor: pointer;
    border: none;
  }
  nav {
    background: rgb(19, 157, 4);
    font-size: 18px;

    text-transform: uppercase;
  }

  nav div ul {
    background: rgb(19, 157, 4);
  }

  nav ul {
    position: fixed;
    left: 0;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    z-index: 5 !important;
  }
  nav li {
    margin: 10px 0;
    margin-left: 20px;
  }
  li:hover {
    color: white;
    cursor: pointer;
  }

  .show {
    transform: translate(0, 0);
  }

  .hide {
    transform: translate(0, -400px);
  }
}
