.fullpage {
  width: 90%;
  margin: 0% auto;
  margin-top: 100px;
}

.title {
  font-weight: bold;
  margin-top: 100px;
}

.words {
  font-size: 20px;
  padding: 10px;
}
.words {
  font-size: 18px;
  letter-spacing: 1px;

  /* word-spacing: 1px; */
  text-align: justify;
  text-justify: inter-word;
}
.wholeitems {
  text-align: center;
  background-color: rgb(240, 240, 240);
  width: 90%;
  margin: 0% auto;
  border-radius: 10px;
  padding-bottom: 75px;
}
.wholeitems > h1 {
  padding: 40px;
  font-size: 40px;
}
.firstitem {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  /* border: black solid 2px;
   background-color: blueviolet;  */
}
.firstparagraph {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 600px;
  height: 300px;
  text-align: center;
  margin-right: 100px;
  margin-left: 50px;
  /* background-color: yellow; */
  /* border: black solid 2px;   */
}
.firstimage img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border-radius: 10px;
  /* border: black solid 2px; */
}
.seconditem {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  /* background-color: blueviolet;
   border: black solid 2px; */
  margin-top: 75px;
}
.secondparagraph {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  height: 300px;
  text-align: center;
  margin-left: 200px;
  margin-right: 50px;
}
.secondimage img {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border-radius: 10px;
}
.thirdparagraph {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 300px;
  text-align: center;
  margin-right: 100px;
  margin-left: 50px;
}
.thirditem {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top: 75px;
  /* border: black solid 2px;
   background-color: blueviolet;  */
}
.thirdimage img {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  border-radius: 10px;
}

/*Navbar*/
nav {
  /* height: 120px; */
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 5;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 100%; */
  padding: 5px;
  margin: 0 auto;
  position: relative;
  z-index: 12;
}
nav div ul {
  display: flex;
  background: white;
}
nav li {
  margin: 0 10px;
  color: white;
}
.sidelinks {
  display: flex;
  /* justify-content: space-between; */
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 4;
}
.sidelinks a {
  color: #51af33;
}
.sidelinks button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #51af33;
  margin: 5px;
  width: 80px;
  height: 35px;
  border: solid 1px #51af33;
  font-size: 14px;
}
.sidelinks button:hover {
  background: #51af33;
  color: white;
}
.nav-links {
  /* background: purple; */
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  position: relative;
  z-index: 3;
  left: 100px;
}
.nav-links a {
  margin: 0 15px;
}
.nav-links a:hover {
  color: #51af33;
}

.nav-popover-container {
  top: 2.5px;
  left: -60px;
  position: absolute;
  flex-direction: column;
}
.services-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.dropdown-title {
  margin-top: 15px;
  position: relative;
  z-index: 1;
  color: white;
}
.nav-popover-link {
  /* width: 200px; */

  position: relative;
  z-index: 4;
  height: 100%;
}
.dropdown-links {
  display: flex;
  flex-direction: column;
  height: 370px;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* .dropdown-links a {
  margin-left: 10px;
  margin-top: 15px; 
}
  */

nav a {
  color: white;
  text-decoration: none;
}
.showDropdown a {
  color: #51af33;
}
.showDropdown li {
  color: #51af33;
}

.login {
  color: white;
}

.logo img {
  height: 50px;
  width: 160px;
  margin: 0 auto;
  /* background: black; */
}
.hideDropdown {
  display: none;
}
.menuButton-container {
  display: none;
}
.hide {
  display: none;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  nav ul {
    position: fixed;
    top: 50px;
    left: 0px;
    flex-direction: column;
    width: 100vw;
    padding: 20px;
    z-index: -1;
  }
  .logo img {
    margin-left: 30vw;
  }

  .menuButton {
    border: none;
    background: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    position: absolute;
  }
  .menuButton:hover {
    cursor: pointer;
  }
  .showDropdown {
    display: flex;
    flex-direction: column;
    /* margin: -20px; */
    /* z-index: 999; */
    /* position: absolute;
    transform: translate(0, 10px);
    transition: all 3s, ease-out 2s, ease-in 4s;
    width: 100vw;
    text-align: center; */
  }

  .menuButton:focus {
  }

  .sidelinks {
    display: none;
  }

  .menuButton-container {
    display: flex;
  }
  .menuButton-container a {
    margin: 15px;
  }
  .menuButton-container a:hover {
    cursor: pointer;
  }

  #menuBox {
    /* display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(0, 0px);
    width: 100vw;
    text-align: center;
    background: red; */
  }
}
