.modal {
  position: fixed;
  top: 0;
  padding: 20px;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.emailmodal-confirm {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  background: white;
  border: 2px solid rgb(243, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  padding: 15px;
}
.confirm-box {
  width: 90%;
  height: 90%;
}
.confirm-box h3 {
  margin-top: 35px;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}
.confirm-box p {
  text-align: start;
  margin: 0 35px;
  margin-bottom: 20px;
  color: #4d4e4e;
  font-size: 15px;
  line-height: 1.5;
}
.confirm-box .input-container {
  width: 100%;
}

.confirm-box .input-container i {
  position: relative;
  top: 2px;
  left: 26px;
  color: #67727e;
  z-index: 10;
}

.confirm-box .input-container .discount {
  padding-left: 38px;
  width: 90%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #67727e;
  margin-bottom: 1rem;
  position: relative;
  margin-right: 15px;
}

.confirm-box button {
  background: #51af33;
  color: white;
  width: 90%;
  height: 45px;
  margin: 0;
  border-radius: 5px;
}

.x-button-modal {
  top: -10px;
  right: -10px;
  position: absolute;
}
.x-button-modal button {
  background: none;
  position: relative;
  border: none;
  width: 40px;
  height: 35px;
  margin-top: 10px;
  margin-right: 15px;
  padding: 2px;
  color: #4d4e4e;
  font-size: 20px;
  border-radius: 5px;
}

.x-button-modal button:hover {
  background: none;
  color: #51af33;
}
