header {
  background-image: url("./tools.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header-main-text h1 {
  color: black;
  text-align: center;
  width: 100%;
}
.header-link span {
  /* send help */
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 100%;
}
.LandingPage-component {
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.TaskCards-component {
    height: 200px;
    width: 50vw;
    /* background: pink; */
}

.TaskCards-component button {
    background: black;
    border-radius: 50%;
    /* height: 20px;
    width: 20px; */
}

.card {
    /* background: yellow;
    height: 50px; */
}
