header {
  background-image: url("./tools.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.header-links {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    /* background: red; */
    width: 50%;
    margin-top: 40px;
}


header button {
    background: white;
    color: green;
    border: solid 1px green;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin: 10px;
    font-size: 15px;
}

header button:hover {
    background: green;
    color: white;
}

.header-main-text h1 {
  /* color: black; */
  text-align: center;
  width: 100%;
  margin-top: 70px;
  font-size: 30px;
  
}
.header-links span {
  /* send help */
  /* background: yellow; */
  height: 200px;
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: bold;
  flex-wrap: wrap;
  justify-content: space-around;
}

.LandingPage-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    flex-direction: column;
}

.TaskCards-component {
    width: 70vw;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TaskCards-component div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TaskCards-component h1 {
    margin: 10px;
    font-size: 30px;
}

.slick-slider button {
    /* border-radius: 50%; */
    background: gray;
    color: black;
    height: 300px;
    width: 25px;
}

.slick-prev:hover {
    color: black;
    background: gray;
}

.slick-next:hover {
    color: black;
    background: gray;
}

.slick-list {
    width: 70vw;
}

.slick-track {
    /* height: 400px; */
    width: 100%;
    /* background: yellow; */
    
}

.slick-slide  {
    margin: 20px;
    /* background: blue; */
    
    
}

.card {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 400px;
    box-shadow: 2px 5px 12px 2px rgb(179, 179, 179);
    
}

.card img {
    height: 150px;
    margin-top: 30px;
}

.card button {
    background: white;
    color: green;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: solid 1px green;
}

.card button:hover {
    background: green;
    color: white;
    
}
 





/* Reviews*/
.reviewsContainer{
    /* background-color: grey; */
    /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  width: 90vw;
    flex-direction: column;
    align-items: center;
}

.reviewsContainer h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.inner-review-container {
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.reviews{
    /* display: inline-block; */
    margin: 20px;
    width: 400px;
    
    /* background: yellow; */

}
.reviews > div{

    margin: 10px;
   

}

.reviews > div p {
    /* background-color: green; */
    width: 350px;
    font-size: 12px;
    
}
.reviews img{
    border-radius: 50%;
    width: 125px;
}




@media (max-width: 1500px) {
    .slick-list {
        width: 80vw;
    }

}

@media (max-width: 1500px) {
    .inner-review-container {
        width: 100%;
        /* background: pink; */
    }
}