.tasker-profile {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 60px;
}

.profile-form-container {
  background-image: url("./taskerbecome.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-form-container h3 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
.profile-form-container h4 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}
.profile-form-container p {
  font-size: 1rem;
}
.profile-form-container span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: left;
  width: 50%;
}

.profile-form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border: 1px solid black;
  background-color: #e8ebef;
  padding: 20px;
  border-radius: 5px;
  height: 70%;
}

.profile-form-container form input {
  padding: 0.625em 1em;
  width: 100%;
  color: black;
  font-size: 15px;
  margin: 10px 5px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
}
.profile-form-container form textarea {
  padding: 0.625em 1em;
  width: 100%;
  font-size: 15px;
  margin: 10px 5px;
  height: 90px;
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  resize: none;
}

.profile-form-container button {
  background-color: #51af33;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
}

.profile-form-container h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  font-weight: 400;
}

.profile-form-container p {
  font-weight: 100;
  font-size: 18px;
}

/* ==========TASKER SKILL SECTION ==========*/
.tasker-skill-form {
  padding: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tasker-skill-form h2 {
  font-size: 35px;
  font-weight: bold;
  align-self: flex-start;
}
.tasker-skill-form form {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.tasker-skill-form span {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 15px;
  text-align: start;
}
.tasker-skill-form h6 {
  font-size: 20px;
}
.tasker-skill-form p {
  font-size: 15px;
}

/* ============== MEDIAS ============ */
@media (max-width: 890px) {
  .profile-form-container {
    padding: 40px 0;
    flex-direction: column;
    height: 100%;
  }
  .profile-form-container form {
    height: 100%;
  }
  .profile-form-container span {
    width: 45%;
  }
}

@media (max-width: 790px) {
  .profile-form-container h3 {
    font-size: 40px;
  }
  .profile-form-container h4 {
    font-size: 28px;
  }
}
@media (max-width: 670px) {
  .profile-form-container span {
    width: 55%;
  }
}

@media (max-width: 600px) {
  .profile-form-container span {
    width: 65%;
  }
}

@media (max-width: 550px) {
  .profile-form-container span {
    width: 70%;
  }
}
