.mapcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
    width: 1500px;
    height: 700px;
}

.mapcontainer > div{
    /* background: blue; */
    width: 50%;
    height: 50%;
    /* position: relative; */
   

}
.map > div {
    /* position: relative; */
    /* top: 5px; */
    
}
.map img{
    /* width: 70px; */
}
