.form {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: white; */
    
}

.form p {
    color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}

.form input {
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 10px;
}

.form h1 {
    /* color: black; */
    font-size: 30px;
    font-weight: lighter;
}

.form h2 {
    color: black;
    margin: 0% auto;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.form-button button {
    margin-top: 10px;
    height: 60px;
    width: 130px;
    background: rgb(0, 170, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.form-button button:hover {
    background: rgb(0, 151, 0);
}

.form-button button:focus {
    outline: none;
}

h2 {
    font-weight: lighter;
  }

.shadow-box {
    width: 150%;
    height: 4px;
    box-shadow: 0px 4px 12px 2px lightgray;
    border: none;
    position: fixed;
    top: 120px;
    background: white;
}

.outer-container {
    margin-top: 50px;
    width: 70vw;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.inner-container {
    
}

.question-box {
    border: solid 2px lightgray;
    margin-top: 10px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: whitesmoke;
}

.time-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.small-question-box {
    margin-right: 20px;
}

.calendar-box {
    height: 100px;
}

.calendar{
    font-weight: bold;
    font-size: 10px;
    background-color:white;
}

.details {
    height: 400px;
}

.details input {
    height: 200px;
    width: 50vw;
}

.toggle-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    border: solid 2px lightgray;
    margin-top: 10px;
    color: black;
    position: relative;
    background: whitesmoke;
}




