footer {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  background-color: lightgray;
  font-size: 18px;
  align-items: center;

}

.footer-links {
  /* background: red; */
  margin-top: 15px;
  margin: 20px;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  color: green;
}
